      <!--Main Navigation-->
      <header>
        <!-- Jumbotron -->
        <div class="p-2 text-center bg-info border-bottom">
          <div class="container">
            <div class="row gy-3">
              <!-- Left elements -->
              <div class="col-lg-2 col-sm-4 col-4">
                <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
                  <h1 height="35" class="text-dark">Kings</h1>
                </a>
              </div>
              <!-- Left elements -->
      
              <!-- Center elements -->
              <div class="order-lg-last col-lg-5 col-sm-9 col-9 py-2">
                <div class="d-flex float-end">
                 
                  <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                    <i class="fas fa-heart small m-1 me-md-2"></i>
                    <p class="d-none small d-sm-block mb-0">Wishlist</p>
                  </a>
                  <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                    <i class="fas fa-shopping-cart small m-1 me-md-2"></i>
                    <p class="d-none small d-md-block mb-0">My cart</p>
                  </a>
                  <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                    <i class="fas fa-user-alt small m-1 me-md-2"></i>
                    <p class="d-none small d-md-block mb-0">Sign in</p>
                  </a>
                </div>
              </div>
              <!-- Center elements -->
      
              <!-- Right elements -->
              <div class="col-lg-5 col-md-12 col-12 py-2 px-5">
                <div class="input-group mr-5">
                  <button type="button" class="btn btn-primary shadow-0">
                    <i class="fas fa-search"></i>
                  </button>
                  <div class="form-outline bg-white">
                    <input type="search" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Search Here....</label>
                  </div>
                </div>
              </div>
              <!-- Right elements -->
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      
        <!-- Heading -->
        <div class="bg-secondary ">
          <div class="container ">
            <h3 class="text-white">Men's wear</h3>
            <!-- Breadcrumb -->
            <nav class="d-flex">
              <h6 class="mb-0">
                <a href="" class="text-white-50">Home</a>
                <span class="text-white-50 mx-2"> > </span>
                <a href="" class="text-white-50">Library</a>
                <span class="text-white-50 mx-2"> > </span>
                <a href="" class="text-white"><u>Data</u></a>
              </h6>
            </nav>
            <!-- Breadcrumb -->
          </div>
        </div>
        <!-- Heading -->
      </header>