.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* number of lines to show */
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-toggler {
    margin-top: 10px;
  }

  .navbar-nav {
    flex-direction: column;
    background-color: #232f3e;
  }

  .d-flex {
    justify-content: center;
  }

  .float-end {
    text-align: center;
  }

  .input-group {
    width: 100%;
    margin-top: 10px;
  }

  #offerBanner img {
    object-fit: cover;
    width: 100%;
    height: 200px; /* Adjust the height as needed */
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
  }

  .carousel-caption h5,
  .carousel-caption p {
    font-size: 14px;
    margin: 5px;
  }

  .container.my-5 header h3 {
    font-size: 20px;
  }

  .product-link {
    text-align: center;
  }

  .main-image,
  .hover-image {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
  }

  .card-title,
  .card-text {
    text-align: center;
  }

  .float-center {
    text-align: center;
  }

  .input-group {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .input-group .btn {
    width: 100%;
    margin-top: 10px;
  }

  .form-outline {
    width: 100%;
    margin-top: 10px;
  }

  #form1 {
    width: 100%;
  }
}
